<nav>
    <ul>
        <li class="nav-link"><a href="/holeinwall">Home</a></li>
        <li class="nav-link"><a href="#">About</a></li>
        <li class="nav-link"><a href="/holeinwall/new">Add Restaurant</a></li>
    </ul>
</nav>
