/*=====================*/
/*** SHOW PAGE ***/
/*===================*/
body {
  background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2-show-ic {
    color: black;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}

img {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
.p-text {
    list-style-type: none;

}

.p-text a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.p-text a:hover {
    color: lightgrey;
}

/* //FORM// */
.form-container {
    padding: 1em;
    width: 15em;
    margin: 0 auto;
    display: block;
    background-color: gray;
    border-radius: 0.5em;
}
.form {
    text-align: center;
    /*padding: 1em;*/
}


/** food **/
.add-button {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 0.4em;
}

.add-button a {
    background-color: #D7769B;
    color: white;
    border: none;
    border-radius: 0.2em;
    text-decoration: none;
    padding: 0.4em 1.3em;
}

.add-button a:hover {
    background-color: #4B7BD7;
    color: #D7769B;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

/* .show-ic-page {
    background-color: #98F5D5;
} */

#show-ic-h1 {
    color: #fff;
}

#show-ic-cont {
    background-color: #grey;
    width: 20em;
}

.h2-show-ic {
    color: black;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}

.page-link, .page-link {
    font-size: 0.8em;
    background-color: #FFAAB8;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
    margin: 1em auto;
    text-align: center;
}

.page-link:hover, .page-link:hover {
    background-color: #99898E;

}

.page-link a, .page-link a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.p-show {
    color: black;
    padding: 1em;
}

.p-show a {
    color: black;
}

.p-show a:hover {
    color: grey;
}

.p-text {
    padding: 0.4em;
    font-size: 1.2em;
}


#delete-ic {
    width: 20em;
    margin: 1em auto;
    color: white;
    background-color: #4B7BD7;
    font-size: 1em;
}

#delete-ic:hover {
    background-color: #99898E;
}


/* @media (min-width: 650px) {
    #show-ic-cont {
        width: 35em;
    } */

    .h2-show-ic {
        font-size: 2em;
    }

    #delete-ic {
        width: 35em;
    }
}
